@keyframes pulse {
    0% {
      background-color: RGB(255, 255, 255);
    }
    50% {
      background-color: RGB(31, 41, 55);
    }
    100% {
      background-color: RGB(255, 255, 255);
    }
  }
  
  .pulse {
    animation: pulse 2s infinite;
  }
  
  